{% extends 'base.html.twig' %}

{% block title %}{{ 'label.my_dashboard'|trans([], 'widget') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/widget/widget.scss') }}">
{% endblock %}

{% block body %}
    <div>
        <h4>{{ 'label.my_dashboard'|trans([], 'widget') }}</h4>

        <div class="right-align" style="margin-bottom: 20px;">
            <button data-target="create-widget-modal" class="btn waves-effect waves-light modal-trigger">
                {{ 'label.add'|trans([], 'widget') }}
            </button>
        </div>

        {{ include('home/widget/widgetList.html.twig') }}
    </div>

    {# Modal pour créer un widget #}
    {{ include('home/widget/widgetForm.html.twig') }}
{% endblock %}
