{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nickname) }}
        {{
            form_row(registrationForm.plainPassword, {
                label: 'Password'
            })
        }}
        <label>
            {{ form_widget(registrationForm.agreeTerms) }}
            J'accepte les conditions d'utilisation
        </label>

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
