<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'label.website'|trans([], 'main') }}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('vendor/materialize-css/dist/css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/main/main.scss') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="grey lighten-4">
        <header>
            <nav class="blue darken-2 z-depth-2">
                <div class="nav-wrapper">
                    <span class="nav-user">
                        {{ 'label.website'|trans([], 'main') }}
                    </span>
                    {% if app.user %}
                        <span class="nav-user">
                            <i class="material-icons left">account_circle</i>
                            {{ app.user.nickname ?? app.user.email }}
                        </span>
                        <span class="nav-user">
                            <a href="{{ path('app_logout') }}" class="btn red lighten-1 waves-effect waves-light">
                                <i class="material-icons left">logout</i>
                                {{ 'label.create_account'|trans([], 'authentication') }}
                            </a>
                        </span>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main class="container section">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
