<div id="create-widget-modal" class="modal">
    <div class="modal-content">
        <h5>{{ 'label.create'|trans([], 'widget') }}</h5>
        {{ form_start(widgetForm, {attr: {class: 'col s12'}}) }}
        <div class="form-container">
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(widgetForm.title, {attr: {class: 'validate'}}) }}
                    <label for="{{ widgetForm.title.vars.id }}">{{ 'label.title'|trans([], 'widget') }}</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(widgetForm.type, {attr: {class: 'validate'}}) }}
                    <label for="{{ widgetForm.type.vars.id }}">{{ 'label.type'|trans([], 'widget') }}</label>
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">{{ 'label.submit'|trans([], 'widget') }}</button>
        {{ form_end(widgetForm) }}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{ 'label.close'|trans([], 'widget') }}</a>
    </div>
</div>
