{{
    form_start(widgetForm, {
        attr: {
            class: 'col s12',
            novalidate: 'novalidate',
            id: 'create-widget-form-element',
            'data-turbo-frame': 'widget_form_frame'
        },
        action: path('widget_create')
    })
}}
    <div class="form-container"
         data-controller="widgets--widgets-type"
         data-widgets--widgets-type-url-value="{{ path('widget_content') }}"
    >
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(widgetForm.title, {attr: {class: 'validate'}}) }}
                <label for="{{ widgetForm.title.vars.id }}">{{ 'label.title'|trans([], 'widget') }}</label>
                {% if widgetForm.title.vars.errors|length > 0 %}
                    <span class="helper-text red-text">
                        {% for error in widgetForm.title.vars.errors %}
                            {{ error.message }}
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{
                    form_widget(widgetForm.type, {
                        attr: {
                            class: 'validate',
                            'data-action': 'change->widgets--widgets-type#changeType'
                        }
                    })
                }}
                <label>{{ 'label.type'|trans([], 'widget') }}</label>
                {% if widgetForm.type.vars.errors|length > 0 %}
                    <span class="helper-text red-text">
                        {% for error in widgetForm.type.vars.errors %}
                            {{ error.message }}
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
        </div>

        <turbo-frame id="widget_partial" data-widgets--widgets-type-target="frame"></turbo-frame>
    </div>
    <button class="btn waves-effect waves-light" type="submit">{{ 'label.submit'|trans([], 'widget') }}</button>
{{ form_end(widgetForm) }}

